body {
  /* background-color: yellow; */
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#e6821d, #c27625);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 60px;
  transform: translate(-50%, -50%);
  background: rgba(33, 35, 40, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(53, 50, 49, 0.742);
  border-radius: 10px;
  color:#fff
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #f8f4f4;
  text-align: center;
}

.login-box .user-box {
  position: relative;
  align-items: center;
  text-align: left;
}
.user-box{
  position: relative;
  display: inline-block;
  width: 48%;
  margin-right: 2%;
  
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #eae6e7;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #f2f3f0;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  font-size: 16px;
  color: #faf7f7;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #0c0b0a;
  font-size: 14px;
  
}

button {
  font-size: 15px;
  padding: 1em 6em;
  font-weight: 500;
  background: rgb(199, 108, 47);
  background: linear-gradient(90deg, rgba(196, 200, 203, 0.72), rgb(243, 142, 11) 0% 100%);
  color: #f1efec;
  font-weight: 900;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  box-shadow: 0 0 10px hsla(0, 2%, 37%, 0.8);
  transition: 0.2s;
  left: 110px;
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  transition-duration: 400ms;
  background: #1e0e0c;
  border-radius: 9999px;
  width: 20em;
  height: 11em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 0;
  height: 0;
}

button:hover {
  transition: 0.2s;
  color: #110d0b;
}

button:active {
  transform: scale(0.97);
}
.user-box1:after {
  
  display: table;
  clear: both;
}
.user-box1 > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.user-box1 > div:last-child {
  margin: 0;
}


.totals {
  margin: 0 0 30px;
  padding: 0;
  color: #f4efef;
  text-align: left;
  
}
