<table class="table table-bordered table-striped" style="width: 100">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>OPTIONS</th>
    </tr>
  </thead>
  <tbody>
    <p *ngIf="!taikhoans && !processing">Không có tài khoản nào!</p>
    <p *ngIf="processing">Đang tải...</p>
    <tr *ngFor="let item of taikhoan_kh">
      <td width="30%">{{ item.maTK }}</td>
      <td width="50%">{{ item.email }}</td>
      <td class="btn-group" role="group">
        <a
          class="btn btn-primary mx-2"
          style="color: white"
          (click)="onViewDetail(item.maTK)"
        >
          <i style="font-size: 17px" class="far">&#xf044;</i>
          Xem Chi tiết
        </a>
      </td>
    </tr>
  </tbody>
</table>
