<table class="table table-bordered table-striped" style="width: 100">
  <thead>
    <tr>
      <th>Mã đơn giao</th>
      <th>Khách hàng đặt giao</th>
      <th>Trạng thái đơn giao</th>
      <th>OPTIONS</th>
    </tr>
  </thead>
  <tbody>
    <p *ngIf="">Không có đơn giao nào!</p>
    <tr *ngFor="let item of dongiao">
      <td width="15%">{{ item.maDG }}</td>
      <td width="35%">{{ getEmailKh(item.maKH) }}</td>
      <td width="25%">{{ item.trangThaiDG }}</td>
      <td class="btn-group" role="group">
        <a
          asp-controller="Category"
          asp-action="Edit"
          asp-route-id="@obj.categoryID"
          class="btn btn-primary mx-2"
          style="color: white"
          (click)="onDetail(item.maDG)"
        >
          <i style="font-size: 17px" class="far">&#xf044;</i>
          Chi tiết
        </a>
      </td>
    </tr>
  </tbody>
</table>
