<section class="content">
  <div class="container-fluid">
    <div class="container p-3">
      <div class="row pt-4">
        <div class="col-6">
          <h1>Tạo Tài Khoản Nhân Viên</h1>
        </div>
        <div class="col-6 text-end">
          <a
            class="btn btn-primary"
            style="color: white"
            (click)="addTKNhanVien()"
          >
            Thêm Tài Khoản Nhân Viên
          </a>
        </div>
      </div>
      <br />
      <app-ttknv-list></app-ttknv-list>
    </div>
  </div>
</section>
