<div class="site-wrap">
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- header -->
  <!-- <app-header></app-header> -->

  <!-- home -->
  <!-- <app-home></app-home> -->
  <!-- <router-outlet></router-outlet> -->

  <!-- footer -->
  <!-- <app-footer></app-footer> -->

  <app-admin></app-admin>
</div>
