<html>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-none d-sm-inline-block">
            <a (click)="logOut()" class="nav-link">Đăng xuất</a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
          <img
            src="assets/dist/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light"
            >Ahimove - {{ tenCV }}</span
          >
        </a>

        <!-- Sidebar -->
        <ng-container *ngIf="tenCV === 'Admin' || tenCV === 'NhanVienKho'">
          <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <div class="image">
                <img
                  src="assets/dist/img/user2-160x160.jpg"
                  class="img-circle elevation-2"
                  alt="User Image"
                />
              </div>
              <div class="info">
                <a style="color: white" class="d-block">{{ hoTen }}</a>
              </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
              <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
              >
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="quanlydongiao"
                  >
                    <i class="nav-icon fas fa-th"></i>
                    <p style="color: white">Quản lý đơn giao</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="ds-khachhang"
                  >
                    <i class="nav-icon fas fa-th"></i>
                    <p style="color: white">Danh sách khách hàng</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="taotaikhoannhanvien"
                  >
                    <i class="nav-icon fas fa-th"></i>
                    <p style="color: white">Tạo tài khoản nhân viên</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="nhapkho"
                  >
                    <i class="nav-icon fas fa-th"></i>
                    <p style="color: white">Nhập kho</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="xuatkho"
                  >
                    <i class="nav-icon fas fa-th"></i>
                    <p style="color: white">Xuất kho</p>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </ng-container>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- ADMIN-MAIN -->
        <!-- <app-admin-main></app-admin-main> -->
        <router-outlet></router-outlet>
      </div>

      <footer class="main-footer">
        <div class="float-right d-none d-sm-inline-block">
          <strong>Copyright &copy; 7/2023 <a href="#">LeDaoSyQuynh</a>.</strong>
        </div>
      </footer>
    </div>
  </body>
</html>
