<div class="container-fluid">
  <div class="container p-3">
    <h1 class="mb-3">Thông tin nhân viên</h1>
    <form [formGroup]="f">
      <div class="mb-3">
        <span class="small mb-1" for="hoTen">Họ Tên</span>
        <input
          type="text"
          class="form-control"
          id="hoTen"
          name="hoTen"
          formControlName="hoTen"
        />
      </div>
      <div class="row gx-3 mb-3">
        <div class="col-md-6">
          <span class="small mb-1" for="email">Email</span>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="col-md-6">
          <span class="small mb-1" for="matKhau">Mật Khẩu</span>
          <input
            type="password"
            class="form-control"
            id="matKhau"
            name="matKhau"
            formControlName="matKhau"
          />
        </div>
      </div>
      <div class="mb-3">
        <span class="small mb-1" for="sdt">Số Điện Thoại</span>
        <input
          type="text"
          class="form-control"
          id="sdt"
          name="sdt"
          formControlName="sdt"
        />
      </div>
      <div class="mb-3">
        <span class="small mb-1" for="diaChi">Địa Chỉ</span>
        <input
          type="text"
          class="form-control"
          id="diaChi"
          name="diaChi"
          formControlName="diaChi"
        />
      </div>
      <div class="mb-3">
        <span class="small mb-1" for="ngaySinh">Ngày Sinh</span>
        <input
          type="date"
          class="form-control"
          id="ngaySinh"
          name="ngaySinh"
          formControlName="ngaySinh"
        />
      </div>

      <div class="row gx-3 mb-3">
        <div class="col-md-4">
          <span class="small mb-1" for="gioiTinh">Giới Tính</span>
          <select class="form-control" formControlName="gioiTinh">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </div>
        <div class="col-md-4">
          <span class="small mb-1" for="tenCV">Chức Vụ</span>
          <select class="form-control" formControlName="tenCV">
            <option value="Admin">Admin</option>
            <option value="NhanVienKho">NhanVienKho</option>
            <option value="TaiXe">TaiXe</option>
          </select>
        </div>
        <div class="col-md-4">
          <span class="small mb-1" for="trangThaiTK">Trạng Thái Tài Khoản</span>
          <select class="form-control" formControlName="trangThaiTK">
            <option value="Chặn Hoạt Động">Chặn hoạt động</option>
            <option value="Còn Hoạt Động">Còn hoạt động</option>
          </select>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content">
        <button
          type="button"
          style="margin-left: 20px; color: white"
          class="btn btn-warning"
          (click)="onBack()"
        >
          Quay về
        </button>
      </div>
    </form>
  </div>
</div>
