<div class="container-fluid">
  <div class="container p-3">
    <h1 class="mb-3">
      {{ editMode ? "Cập nhật loại giao hàng" : "Thêm loại giao hàng" }}
    </h1>
    <form #f="ngForm" (ngSubmit)="onAddUpdateItem(f)">
      <div class="form-group">
        <label for="tenLHG" class="form-lable">Tên loại giao hàng</label>
        <input
          type="text"
          class="form-control"
          id="tenLHG"
          name="tenLHG"
          #tenLHG
          ngModel
        />
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content">
        <button type="submit" class="btn btn-primary">
          {{ editMode ? "Thay đổi" : "Thêm" }}
        </button>

        <button
          type="button"
          style="margin-left: 20px; color: white"
          class="btn btn-warning"
          (click)="onBack()"
        >
          Quay về
        </button>
      </div>
    </form>
  </div>
</div>
